<div class="container-footer">	

    <footer>
        <div class="logo-footer">
            <a href="Home">
                <img style="width: 100px;" src="https://i.pinimg.com/originals/a3/f9/6b/a3f96b85d302cf3d4f375bbd105fddec.png">
              </a>
        </div>

        <div class="redes-footer">
            <a href="" class="buttons"><i class="fab fa-facebook-f icon-redes-footer"></i></a>
            <a href="" class="buttons"><i class="fa-brands fa-twitter icon-redes-footer"></i></i></a>
            <a href="" class="buttons"><i class="fab fa-instagram icon-redes-footer"></i></a>
        </div>

        <hr>
        <h4>© 2022 MangoGames - Todos los Derechos Reservados</h4>

    </footer>