<header class="p-5 text-bg-dark">
  <div style="margin-left: 300px;">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img style="width: 100px;" src="https://i.pinimg.com/originals/a3/f9/6b/a3f96b85d302cf3d4f375bbd105fddec.png">
      </a>
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li></li>
      </ul>

      <h1><a href="Home" class="marca">MANGO GAMES</a></h1>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Search..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2"><a href="Login" class="buttons">Login</a></button>
        <button type="button" class="btn btn-outline-light me-2"><a href="Registro" class="buttons">Sign-up</a></button>
        <button type="button" class="btn btn-outline-light me-2"><a href="Crud" class="buttons">Crud</a></button>
        <button type="button" class="btn btn-outline-light me-2"><a href="/descargar/MangoGamesApp.zip" class="buttons">Download App</a></button> 
      </div>
    </div>
  </div>
</header>

